
.market {    
  font-size: 1em;
  background-color: ffffff;
  width: 100%; 
  padding: 20px; 
}
.arow {
  
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-left: 50px;
 
}
.cardOne {
    width: 22%;
    border: none;   
    border-style: solid;
    border-color:#666666;
    border-width:1px; 
}
.cardTitle {
    font-size: 20px;   
    padding: 15px 0;
    margin-left: 20px;
    font-weight: bolder;
  }
  .productImg {
   width: 80%;;
 
  }
  .myBottom {
    width: 50%;
    height: 30px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    margin-left: 45%;
    
  }
  .money {
    font-size: 17px;   
    width: 50%;    
    margin-left: 20px;
  }
  .addBtn {
    font-size: 12px;
    width: 60%;
    padding:4px;
    float: right;
    background-color:#0066FF ;
    border: none;
    color: white;
    font-size: 17px;
  }   
  
  .container {
    display: block;
    border: 2px solid black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.container span {
    position: absolute;
    top: -7px;
    left: 2px;
    
}

footer{
  clear: both;
  text-align: center;
  background-color: #dddddd;
  padding-top:50px;
  padding-bottom:50px;
}

.trolley{
  height: 67px;
  text-align: right;
  margin-right: 10px
}