.order{    
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    font-size: 20px;   
}
.table{
    width: 98%;
}
.tablehead{
    background-color: #DDDDDD;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px; 
}
.order-id{
    margin-top: 10px
}
.delete-id{
    color: #ffffff;
    background: #DC3545;
    padding: 10px;
}
.delete-id{
    font-weight: bolder;
}
.tbodytr{
    height: 60px;
}
.order-head{
    font-weight: bolder;
}
.deleteButton {
    color: red;
    font-size: 20px;   
    height: 40px;
    width: 80px;
}

footer{
    clear: both;
    text-align: center;
    background-color: #dddddd;
    padding-top:50px;
    padding-bottom:50px;
  }